
    <section class="page-title">
        <div class="container">
            <ol class="breadcrumb">

                <li>
                    <a [routerLink]="[ '/root' ]" routerLinkActive="active">الرئيسيه</a>

                </li>

                <li>

                    <a [routerLink]="[ '/sales' ]" routerLinkActive="active">مبيعات</a>


                </li>
                <li>

                    <a [routerLink]="[ '/oldsaleback' ]" routerLinkActive="active">مرتجعات بيع سابقه</a>

                </li>
                <li>
                    <a [routerLink]="[ '/oldsalebackwithbill' ]" routerLinkActive="active">مرتجعات بيع سايقة مرتبطة بفاتوره</a>


                </li>
                <li class="active"> عرض مرتجع بيع مرتبط بفاتوره </li>
            </ol>
        </div>
    </section>
    <section class="search-sec">
            <div class="container">
                <h4>تفاصيل الفاتورة</h4>
                <div class="col-md-3">
                    <div class="form-group ">
                        <label for="bill-num"> رقم الفاتوره </label>
                        <input name="bill-num" class="form-control" type="text" disabled="disabled" [value]="productSaleDiscardMainInvoice.DiscardID">
                    </div>
                    <div class="form-group  ">
                        <label> المخزن </label>
                        <input name="bill-num" class="form-control" type="text" disabled="disabled" [value]="productSaleDiscardMainInvoice.StoreName">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group  ">
                        <label> العميل </label>
                        <input name="supplier" class="form-control" type="text" disabled="disabled" [value]="productSaleDiscardMainInvoice.CustomerName">
                    </div>
                    <div class="form-group ">
          
                        <label for="date"> التاريخ </label>
                        <input name="bill-num" class="form-control" type="text" disabled="disabled" [value]="productSaleDiscardMainInvoice.DateSubmit">
          
                    </div>
                </div>
                <div class="col-md-3">
          
                  <div class="form-group ">
                    <label for="bill-account"> حساب الفاتوره </label>
                    <input name="bill-account" class="form-control" type="text" disabled="disabled" [value]="productSaleDiscardMainInvoice.DiscardValue">
          
                </div>
          
                    <div class="form-group ">
                        <label for="user"> المستخدم </label>
                        <input name="user" class="form-control" type="text" disabled="disabled" [value]="productSaleDiscardMainInvoice.UserName">
          
                    </div>
          
          
                  </div>
                  <div class="col-md-3">
                      <br>
                                  <div class="form-group">
                                      <button type="button" class="btn  btn-style form-control" (click)="goToPrintSaleBackWithBill()">
                                          <i class="fa fa-print"></i> طباعة </button>
                                          <br>
                                      <button type="button" class="btn  btn-style form-control">
                                          <i class="fa fa-times"></i> إلغاء </button>
                          
                                  </div>
                              </div>
          
            </div>
          </section>
          <section class="body-content">
            <div class="container">
               <div class="panel panel-default">
                   <div class="panel-heading">
                        <div class="row">
                                <div class="col-md-4">
                                        <h5 class="text-colored text-right">المرتجعات علي الفاتورة</h5>
                                </div>
                                <div class="col-md-6"></div>
                                <div class="col-md-2 text-left">
                                    <a>
                            
                                        <button (click)="Refresh()" class="btn btn-link">
                                          <!-- <img src="/poweroff1.png" alt="signout" class="usersmalllogo"> -->
                                       <i class="fas fa-2x fa-refresh">&nbsp;</i>            
                                        </button>
                                      </a>
                                </div>
                            </div>
                       

                   </div>
                   <div class="panel-body">
                        <div style="overflow-x: auto;">
                                <table class="table text-right table-bordered  table-responsive">
                                    <thead>
                                        <tr>
                                            <th style="width:10%;">كود الصنف</th>
                                            <th> إسم الصنف </th>
                                            <th style="width:10%;"> كميه المرتجع </th>
                                            <th style="width:10%;"> الوحده </th>
                                            <th style="width:10%;"> السعر </th>
                                            <th style="width:10%;"> الإجمالي </th>          
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of productSaleDiscardSelectMainInvoicesItems| paginate: { itemsPerPage: 10, currentPage: p } ;">
                                            <td>{{item.ProductID}}</td>
                                            <td>{{item.ProductName}}</td>
                                            <td>{{item.Num| number:'1.2-2'}}</td>
                                            <td>{{item.UnitName}}</td>
                                            <td>{{item.Price| currency}}</td>
                                            <td>{{(item.Price * item.Num)| currency}}</td>
                                        </tr>
                                        <tr>
                                          <td colspan="6" class="text text-center alert alert-danger" *ngIf="(productSaleDiscardSelectMainInvoicesItems).length === 0">
                                              <h4>نأسف لم يتم العثور على اى نتائج</h4>
                                          </td>
                                      </tr>
                                      <tr>
                                          <td colspan="6" class="text text-center">
                                              <pagination-controls (pageChange)="p = $event" maxSize="10" directionLinks="true" autoHide="false" responsive="true" previousLabel="السابق" nextLabel="التالى" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
                                              </pagination-controls>
                                          </td>
                                      </tr>
                                    </tbody>
                                </table>
                            </div>
                   </div>
                   <div class="panel-footer">
                       <br>
                       <br>
                   </div>

               </div>
          
              
            </div>
          </section>
