<section class="page-title">
    <div class="container">
        <ol class="breadcrumb">


            <li>
                <a [routerLink]="[ '/root' ]" routerLinkActive="active">الرئيسيه</a>

            </li>
            <li>
                <a [routerLink]="[ '/sales' ]" routerLinkActive="active">مبيعات</a>


            </li>
            <li>
                <a [routerLink]="[ '/saleback' ]" routerLinkActive="active">مرتجع بيع </a>


            </li>
            <li class="active"> مرتجع مرتبط بفاتوره </li>
        </ol>
    </div>
</section>

<section class="search-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <label> في الفتره من</label>
                <div class="input-group">
                    <input class="form-control" style="float:none" placeholder="Select a date" ngx-mydatepicker
                        name="DateFrom" [options]="myOptions" #dp="ngx-mydatepicker" [(ngModel)]="DateFromObject"
                        (ngModelChange)="GetDateFrom($event)" />

                    <span class="input-group-btn">
                        <button type="button" class="btn" (click)="dp.toggleCalendar()" style="height: 40px;">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </div>
                <label> إلي الفتره</label>
                <div class="input-group">

                    <input class="form-control" style="float:none" placeholder="Select a date" ngx-mydatepicker
                        name="DateTo" [options]="myOptions" #dpo="ngx-mydatepicker" [(ngModel)]="DateToObject"
                        (ngModelChange)="GetDateTo($event)" />
                    <span class="input-group-btn">
                        <button type="button" class="btn" (click)="dpo.toggleCalendar()" style="height: 40px;">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>

                    </span>

                </div>



            </div>

            <div class="col-md-4">


                <label> المخزن </label>
                <select class="form-control" [(ngModel)]="StoreName">
                    <option *ngFor="let item of ProductStores" [value]="item.StoreName"
                        (change)="GetSumTotal(DateFrom,DateTo,StoreName,SupplierName)">{{item.StoreName}}</option>

                </select>
                <label>اسم المستخدم </label>
                <input name="UserName" class="form-control" type="text" [(ngModel)]="UserName">


            </div>
            <div class="col-md-4">
                <label> العميل </label>
                <select class="form-control" [(ngModel)]="SupplierName">
                    <option *ngFor="let item of Customers" [value]="item.CustomerName"
                        (change)="GetSumTotal(DateFrom,DateTo,StoreName,SupplierName)">{{item.CustomerName}} </option>
                </select>
                <label for="bill-num"> رقم الفاتوره </label>
                <input name="bill-num" class="form-control" type="text" [(ngModel)]="InvoiceID">



            </div>




        </div>
    </div>
</section>
<section class="body-content">
    <div class="container">

        <div class="panel panel-default">

            <div class="panel-heading">
                    <div class="row">
                            <div class="col-md-4">
                                    <h5 class="text-colored text-right"> الفواتير</h5>
                            </div>
                            <div class="col-md-6"></div>
                            <div class="col-md-2 text-left">
                                <a>
                        
                                    <button (click)="Refresh()" class="btn btn-link">
                                      <!-- <img src="/poweroff1.png" alt="signout" class="usersmalllogo"> -->
                                   <i class="fas fa-2x fa-refresh">&nbsp;</i>            
                                    </button>
                                  </a>
                            </div>
                        </div>
                
            </div>
            <div class="panel-body">


                <div style="overflow-x: auto;">
                    <table class="table text-center table-bordered  table-responsive">
                        <thead>
                            <tr>
                                <th> رقم الفاتوره </th>
                                <th> العميـل </th>
                                <th> المخزن </th>
                                <th> تاريخ الفاتوره </th>
                                <th> المستخدم </th>
                                <th> حساب الفاتوره </th>
                                <th style="width:5%"> إختر </th>
                            </tr>
                        </thead>



                        <tbody>
                            <tr *ngFor="let item of AllProductSaleMainInvoices
                        |searcholdsalesbillsfromtodate:DateFrom:DateTo  
                        |searcholdsalesstorename:StoreName
                        |searcholdsalesusername:UserName
                        |searcholdsalesinvoicenumber:InvoiceID
                        |searcholdsalescustomername:SupplierName
                        |searcholdsalesinvoicetype:InvoiceType
                                
                                
                                | paginate: { itemsPerPage: 10, currentPage: p } ;
                                 let i = index;" [ngClass]="{'selectedrow':RowSelected(item)}">


                                <td>{{item.InvoiceID}}</td>
                                <td>{{item.CustomerName}}</td>
                                <td>{{item.StoreName}}</td>
                                <td>{{item.DateSubmit| date}}</td>
                                <td>{{item.UserName}}</td>
                                <td>{{item.Net| currency}}</td>
                                <td>
                                    <div class="checkbox " style="margin-right:25px;">
                                        <ng-container *ngIf="!RowSelected(item); else RemoveSelect">
                                            <a class="label label-primary" (click)="SelectRow(item)">
                                                <i class="fa fa-check"></i> تحـديـد
                                            </a>
                                        </ng-container>
                                        <ng-template #RemoveSelect>
                                            <a class="label label-primary" (click)="RemoveSelection(item)">
                                                <i class="fa fa-remove"></i> الـــغـــاء

                                            </a>
                                        </ng-template>

                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="8" class="text text-center alert alert-danger" *ngIf="(AllProductSaleMainInvoices).length === 0||
                               ( AllProductSaleMainInvoices
                            |searcholdsalesbillsfromtodate:DateFrom:DateTo  
                            |searcholdsalesstorename:StoreName
                            |searcholdsalesusername:UserName
                            |searcholdsalesinvoicenumber:InvoiceID
                            |searcholdsalescustomername:SupplierName
                            |searcholdsalesinvoicetype:InvoiceType
                            ).length===0">
                                    <h4>نأسف لم يتم العثور على اى نتائج</h4>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="8" class="text text-center">
                                    <pagination-controls (pageChange)="p = $event" maxSize="10" directionLinks="true"
                                        autoHide="false" responsive="true" previousLabel="السابق" nextLabel="التالى"
                                        screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                                        screenReaderCurrentLabel="You're on page">
                                    </pagination-controls>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>
            <div class="panel-footer">
                <br>
                <br>

            </div>

        </div>

        <br>


        <div class="panel panel-default">

            <div class="panel-heading">

                <h5 class="text-colored text-right">الأصناف في الفاتورة</h5>

            </div>
            <div class="panel-body">
                <div style="overflow-x: auto;">
                    <table class="table text-right table-bordered  table-responsive">
                        <thead>
                            <tr>
                                <th style="width:10%;">كود الصنف</th>
                                <th> إسم الصنف </th>
                                <th style="width:10%;"> كميه البيع </th>
                                <th style="width:10%;"> الوحده </th>
                                <th style="width:10%;"> السعر </th>
                                <th style="width:10%;"> الخصم </th>
                                <th style="width:10%;"> النهائى </th>
                                <th style="width:10%;"> رصيد المخزن </th>
                                <th style="width:10%;"> كميه المرتجع </th>
                                <th style="width:10%;"> وحدة المرتجع </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let item of productSaleMainInvoicesItems | paginate: { itemsPerPage: 10, currentPage: p } ;">
                                <td>{{item.ProductID}}</td>
                                <td> {{item.ProductName}}</td>
                                <td>{{item.Num| number:'1.2-2'}}</td>
                                <td>{{item.UnitName}}</td>
                                <td>{{item.Price|currency}}</td>
                                <td>{{item.TotalDisc|currency}}</td>
                                <td>{{item.NetPrice|currency}}</td>
                                <td>{{item.Stock|number:'1.2-2'}}</td>
                                <td><input type="number" class="form-control" name="DiscardNum" id="DiscardNum"
                                        [(ngModel)]="item.DiscardNum"></td>
                                <td><select placeholder="اختر" [(ngModel)]="item.UnitID" name="UnitID"
                                        class="form-control">
                                        <option *ngFor="let item of item.ProductUnits" [value]="item.UnitID">
                                            {{item.UnitName}}
                                        </option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="10" class="text text-center alert alert-danger"
                                    *ngIf="(productSaleMainInvoicesItems).length === 0">
                                    <h4>نأسف لم يتم العثور على اى نتائج</h4>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="10" class="text text-center">
                                    <pagination-controls (pageChange)="p = $event" maxSize="10" directionLinks="true"
                                        autoHide="false" responsive="true" previousLabel="السابق" nextLabel="التالى"
                                        screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                                        screenReaderCurrentLabel="You're on page">
                                    </pagination-controls>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel-footer">

                <div class="btntricks">
                    <div class="form-group disp-inl-bl">
                        <div class="radio disp-inl-bl " style="margin-right:25px;">
                            <label for="form_radio1">
                                <input id="form_radio1" name="GetMoneyBack" type="radio" [(ngModel)]="GetMoneyBack"
                                    [value]="false"> نقدي </label>
                        </div>
                        <div class="radio disp-inl-bl " style="margin-right:25px;">
                            <label for="form_radio2">
                                <input id="form_radio2" name="GetMoneyBack" type="radio" [(ngModel)]="GetMoneyBack"
                                    [value]="true"> آجل </label>
                        </div>
                    </div>

                    <button type="button" class="btn btn-style" (click)="openModal(template)" [disabled]="productSaleMainInvoicesItems.length == 0">
                        <i class="fa fa-save"></i> حفظ التعديل </button>

                </div>

            </div>
        </div>

        <ng-template #template>

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" (click)="modalRef.hide()">&times;</button>
                    <h4 class="modal-title"><img src="/bag.png" class="userlogo" /></h4>
                </div>
                <div class="modal-body">
                    <p> هل تريد حفظ هذه الفاتورة المرتجع بالفعل ؟</p>
                </div>
                <div class="modal-footer ">
                    <button type="button" class="btn  pull-right"  (click)="AddProductSaleDiscardMain()"> نعم</button>

                    <button type="button" class="btn  pull-left" (click)="modalRef.hide()">لا</button>
                </div>
            </div>




  </ng-template>



    </div>
</section>