<section class=" page-title">
  <div class="container">
    <ol class="breadcrumb">

      <li>
        <a [routerLink]="[ '/root' ]" routerLinkActive="active">الرئيسيه</a>

      </li>
      <li>
        <a [routerLink]="[ '/users' ]" routerLinkActive="active">المستخدم</a>


      </li>
      <li class="active"> قائمه المستخدمين </li>
    </ol>
  </div>
</section>
<section class="body-content">
  <div class="container">
    <div class="panel panel-default">
  <div class="panel-heading text-right">
    <div class="row">
        <div class="col-md-4">
            <h4> قائمة المستخدمين</h4>
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-2 text-left">
            <a>
    
                <button (click)="Refresh()" class="btn btn-link">
                  <!-- <img src="/poweroff1.png" alt="signout" class="usersmalllogo"> -->
               <i class="fas fa-2x fa-refresh">&nbsp;</i>            
                </button>
              </a>
        </div>
    </div>
   

    
  </div>
  <div class="panel-body"> <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 ">

        <br>
        <div style="overflow-x: auto;">
          <table class="table text-right table-bordered  table-responsive">
            <thead>
              <tr>
                <th style="width:10%;">الكود</th>
                <th>إسم المستخدم</th>
                <th style="width:20%;">الحاله</th>
                <th style="width:5%">إختر</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of userList.UserList| paginate: { itemsPerPage: 10, currentPage: p } ; let i=index;"  [ngClass]="{'selectedrow':RowSelected(item)}"  >
                <td><span>{{item.UserId}}</span></td>

                <td>{{item.UserName}}</td>
                <td>
                <ng-container *ngIf="item.Existing ; else NotExisted">
                    <span class="label label-success">مستخدم فعال</span>
                </ng-container>
                <ng-template #NotExisted>
                    <span class="label label-danger">مستخدم مغلق</span>
                </ng-template>

                </td>
                <td>
                  <div class="checkbox " style="margin-right:25px;">
                    <ng-container *ngIf="!RowSelected(item); else RemoveSelect">
                        <a class="label label-primary" (click)="SelectRow(item)">
                            <i class="fa fa-check"></i> تحـديـد

                          </a>
                    </ng-container>
                    <ng-template #RemoveSelect>
                        <a class="label label-primary" (click)="RemoveSelection(item)">
                            <i class="fa fa-remove"></i> الـــغـــاء

                          </a>
                    </ng-template>

                  </div>
                </td>
              </tr>

              <tr>
                <td colspan="4" class="text text-center">
                  <pagination-controls (pageChange)="p = $event"
                  maxSize="10"
                  directionLinks="true"
                  autoHide="false"
                  responsive="true"
                  previousLabel="السابق"
                  nextLabel="التالى"
                  screenReaderPaginationLabel="Pagination"
                  screenReaderPageLabel="page"
                  screenReaderCurrentLabel="You're on page"
                  >
              </pagination-controls>
               </td>
              </tr>

            </tbody>
          </table>
        </div>
      
      
          <ng-template #template>

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" (click)="modalRef.hide()">&times;</button>
                            <h4 class="modal-title"><img src="/bag.png" class="userlogo" /></h4>
                        </div>
                        <div class="modal-body">
                            <p> هل تريد حذف هذا المستخدم بالفعل ؟</p>
                        </div>
                        <div class="modal-footer ">
                            <button type="button" class="btn  pull-right" (click)="DeleteUser(selectedUser)"> نعم</button>

                            <button type="button" class="btn  pull-left" (click)="modalRef.hide()">لا</button>
                        </div>
                    </div>




          </ng-template>

      </div>
    </div></div>
  <div class="panel-footer">

      <div class="btnshowtricks">

            <button [disabled]="authenticatedUser.UserEdit==false" class="btn btn-style" (click)="goToEdit(selectedUser)">
              <i class="fa fa-edit"></i> تعديل </button>
          
         
            <button class="btn btn-style" [disabled]="authenticatedUser.UserAdd==false">
                <a [routerLink]="['/adduser']" routerLinkActive="active">
              <i class="fa fa-plus"></i> إضافه
            </a></button>
          
          <button type="button" class="btn btn-style" (click)="openModal(template)" [disabled]="authenticatedUser.UserDelete==false">
            <i class="fa fa-times"></i> حذف</button>
          </div>

  </div>
    </div>
   


  </div>
</section>
