<section class="page-title">
  <div class="container">
      <ol class="breadcrumb">

        <li>
          <a [routerLink]="[ '/root' ]" routerLinkActive="active">الرئيسيه</a>


      </li>

      <li>
          <a [routerLink]="[ '/clients' ]" routerLinkActive="active">عملاء</a>

      </li>

          <li>

              <a [routerLink]="[ '/clientslist' ]" routerLinkActive="active">قائمه العملاء</a>

          </li>

          <li class="active"> إضافه عميل </li>
      </ol>
  </div>
</section>
<section class="body-content">
<div class="container">
  <div class="row">
   
            <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="text-right"> بيانات العميل </h4>
        
                    </div>
                    <div class="panel-body">
                            <div class="col-xs-12 col-sm-6 col-md-4 ">
             <form #AddCustomerForm="ngForm" name="AddCustomerForm" class="clearfix ">
              <fieldset>
                  <div class="row">
                        <div class="form-group col-md-12 text-right">
                                <label for="ClientName"> اسم العميل </label>
                                <input id="ClientName" #ClientName="ngModel" name="ClientName" [(ngModel)]="addCustomer.Name"
                                class="form-control" type="text"
                                required="required" maxlength="50" minlength="5">
                                <div *ngIf="ClientName.invalid && (ClientName.dirty || ClientName.touched)" class="alert alert-danger">

                                    <p *ngIf="ClientName?.errors.required">
                                      <i class="fa fa-bug"></i> الحقل مطلوب
                                    </p>
                                    <p *ngIf="ClientName?.errors.minlength">
                                      <i class="fa fa-bug"></i> اسم العميل بين 5-50 حرف
                                    </p>
                                  </div>

                              </div>
                            <div class="form-group col-md-12 text-right">
                                <label for="Mobile1"> موبايل 1</label>
                                <input id="Mobile1" #Mobile1="ngModel" name="Mobile1" [(ngModel)]="addCustomer.Mob1"
                                 class="form-control" type="tel"
                                 required="required" maxlength="15" minlength="5">
                                <div *ngIf="Mobile1.invalid && (Mobile1.dirty || Mobile1.touched)" class="alert alert-danger">

                                    <p *ngIf="Mobile1?.errors.required">
                                      <i class="fa fa-bug"></i> الحقل مطلوب
                                    </p>
                                    <p *ngIf="Mobile1?.errors.minlength">
                                      <i class="fa fa-bug"></i> رقم موبايل العميل بين 10-15 رقم
                                    </p>
                                  </div>

                              </div>
                            <div class="form-group col-md-12 text-right">
                                <label for="Mobile2"> موبايل 2 </label>
                                <input id="Mobile2" #Mobile2="ngModel" name="Mobile2" [(ngModel)]="addCustomer.Mob2"
                                 class="form-control" type="tel"
                                 required="required" maxlength="15" minlength="5">

                                <div *ngIf="Mobile2.invalid && (Mobile2.dirty || Mobile2.touched)" class="alert alert-danger">

                                    <p *ngIf="Mobile2?.errors.required">
                                      <i class="fa fa-bug"></i> الحقل مطلوب
                                    </p>
                                    <p *ngIf="Mobile2?.errors.minlength">
                                      <i class="fa fa-bug"></i> رقم موبايل العميل بين 10-15 رقم
                                    </p>
                                  </div>

                              </div>

                      <div class="form-group col-md-12 text-right">
                            <label for="form_clint_kind">  نوع العميل </label>
                                 <br>
                                 <div class="radio disp-inl-bl " style="margin-right:25px;">
                                    <label for="form_radio1">
                                        <input id="form_radio1" #CatID="ngModel" name="CatID" type="radio" [value]="'1'" [(ngModel)]="addCustomer.CatID"> جمله </label>
                                </div>
  
                                <div class="radio disp-inl-bl">
                                    <label for="form_radio2">
                                        <input id="form_radio2" #CatID="ngModel" name="CatID" type="radio" [value]="'2'" [(ngModel)]="addCustomer.CatID"> قطاعي </label>
                                </div>

                                <div *ngIf="CatID.invalid && (CatID.dirty || CatID.touched)" class="alert alert-danger">

                                        <p *ngIf="CatID?.errors.required">
                                          <i class="fa fa-bug"></i> الحقل مطلوب
                                        </p>
                                       
                                      </div>

                        </div>
                  </div>

              </fieldset>


            
          </form>
          </div>
          </div>
          <div class="panel-footer">
<div class="btntricks">
        <button class="btn  btn-style" [disabled]="AddCustomerForm.invalid" (click)="openModal(template)" >
          <i class="fa fa-save"></i> حفظ </button>

</div>
<ng-template #template>

  <!-- Modal content-->
  <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" (click)="modalRef.hide()">&times;</button>
          <h4 class="modal-title"><img src="/bag.png" class="userlogo" /></h4>
      </div>
      <div class="modal-body">
          <p> هل تريد حفظ هذا العميل بالفعل ؟</p>
      </div>
      <div class="modal-footer ">
          <button type="button" class="btn  pull-right"  (click)="AddCustomer(addCustomer,AddCustomerForm)" > نعم</button>

          <button type="button" class="btn  pull-left" (click)="modalRef.hide()">لا</button>
      </div>
  </div>




</ng-template>

          </div>

      </div>
      </div>
  </div>
</section>
