
        <section class="body-content login-page">
            <div class="container">
                <div class="row">
                    <div class="logo col-xs-12 text-center">
                        <h1>  <a href="index.html"> Business Accounting<img src="logo.png"></a> </h1>
                       </div>
                       <div class="col-md-8 col-md-offset-2">

                                <h2> تسجيل الدخول</h2>

                                <form name="login-form">
                                    <div class="row">
                                        <div class="form-group col-md-12 text-right">
                                            <label for="form_username_email"> اسم المستخدم/البريد الالكتروني</label>
                                            <input id="form_username_email" name="form_username_email" class="form-control" type="text">
                                        </div>
                                        <div class="form-group col-md-12 text-right">
                                            <label for="form_password"> كلمه المرور</label>
                                            <input id="form_password" name="form_password" class="form-control" type="text">
                                        </div>
                                    </div>
                                    <div class="checkbox pull-right">
                                        <label for="form_checkbox">
                                            <input id="form_checkbox" name="form_checkbox" type="checkbox"> تذكرني عند الدخول مره اخري</label>
                                    </div>

                                    <div class="clear text-right">
                                        <a href="#" class=" text-white"> هل نسيت كلمه السر ؟</a>
                                    </div>
                                    <div class="form-group pull-left">
                                        <button  (click)="goIndex()" class="btn "> دخول </button>
                                    </div>
                                </form>
                    </div>

                </div>
            </div>
        </section>
