<section class="page-title">
  <div class="container">
    <ol class="breadcrumb">

      <li>
        <a [routerLink]="[ '/root' ]" routerLinkActive="active">الرئيسيه</a>

      </li>
      <li>
        <a [routerLink]="[ '/stores' ]" routerLinkActive="active">مخازن</a>

      </li>
      <li>
        <a [routerLink]="[ '/storeskinds' ]" routerLinkActive="active">مخازن الأصناف</a>

      </li>
      <li class="active">قائمه مخازن الأصناف </li>
    </ol>
  </div>
</section>
<section class="search-sec">
  <div class="container">
    <div class="row">

      <div class="col-md-6">
          <label for="store-name"> إسم المخزن</label>
          <div class="input-group">
        
          <input type="text" class="form-control" name="searchterm" placeholder="بحث" [(ngModel)]="searchterm" aria-describedby="basic-addon1">
          <span class="input-group-addon" id="basic-addon1">
              <i class="fa fa-search"></i>
            </span>
          </div>
     
      </div>

    </div>
  </div>
</section>
<section class="body-content">
  <div class="container">
    <br>
    <div class="panel panel-default">
      <div class="panel-heading">
          <div class="row">
              <div class="col-md-4">
                  <h4 class="text-right">قائمه مخازن الأصناف</h4>
              </div>
              <div class="col-md-6"></div>
              <div class="col-md-2 text-left">
                  <a>
          
                      <button (click)="Refresh()" class="btn btn-link">
                        <!-- <img src="/poweroff1.png" alt="signout" class="usersmalllogo"> -->
                     <i class="fas fa-2x fa-refresh">&nbsp;</i>            
                      </button>
                    </a>
              </div>
          </div>
        </div>
      <div class="panel-body">
          <div style="overflow-x: auto;">

              <table class="table text-right table-bordered   table-responsive">
                <thead>
                  <tr>
                    <th style="width:10%;">الكود</th>
                    <th> إسم المخزن </th>
                    <th style="width:5%">اختر</th>
        
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of resultlist.StoresList |searchstores:searchterm| paginate: { itemsPerPage: 10, currentPage: p } ; let i=index;"  [ngClass]="{'selectedrow':RowSelected(item)}" >
                    <td><span>{{item.StoreID}}</span></td>
        
                    <td>{{item.StoreName}}</td>
        
                    <td>
                      <div class="checkbox " style="margin-right:25px;">
                        <ng-container *ngIf="!RowSelected(item); else RemoveSelect">
                            <a class="label label-primary" (click)="SelectRow(item)">
                                <i class="fa fa-check"></i> تحـديـد
        
                              </a>
                        </ng-container>
                        <ng-template #RemoveSelect>
                            <a class="label label-primary" (click)="RemoveSelection(item)">
                                <i class="fa fa-remove"></i> الـــغـــاء
        
                              </a>
                        </ng-template>
        
                      </div>
                    </td>
                  </tr>
                  <tr><td colspan="4" class="text text-center alert alert-danger"  *ngIf="(resultlist.StoresList|searchstores:searchterm).length === 0" ><h4>نأسف لم يتم العثور على اى نتائج</h4></td></tr>
        
                  <tr>
                    <td colspan="4" class="text text-center">
                      <pagination-controls (pageChange)="p = $event"
                      maxSize="10"
                      directionLinks="true"
                      autoHide="false"
                      responsive="true"
                      previousLabel="السابق"
                      nextLabel="التالى"
                      screenReaderPaginationLabel="Pagination"
                      screenReaderPageLabel="page"
                      screenReaderCurrentLabel="You're on page"
                      >
                  </pagination-controls>
                   </td>
                  </tr>
        
              
                </tbody>
              </table>
            </div>
      </div>
      <div class="panel-footer">
       
                  <div class="btntricks">
                      <button [disabled]="authenticatedUser.StoreEdit==false" type="button" class="btn btn-style" (click)='openEditModal(EditTemplate)'>
                        <i class="fa fa-edit"></i> تعديل</button>
                  
                  
                  
                  
                      <button [disabled]="authenticatedUser.StoreAdd==false" type="button" class="btn btn-style" (click)='openModal(template)' #ButtonAdd>
                        <i class="fa fa-plus"></i> إضافه</button>
                    
                  
                      <button [disabled]="authenticatedUser.StoreDelete==false" type="button" class="btn btn-style" (click)="openDeleteModal(templatedelete)">
                        <i class="fa fa-times"></i> حذف</button>
                  
                  
                      </div>
          
      </div>
    </div>
   
    
    <!-- Modal -->
    <ng-template #EditTemplate>

        <!-- Modal content-->
        <div class="modal-content">
          <form #EditStoreForm ="ngForm">
            <div class="modal-header">
              <button type="button" class="close" (click)="modalRef.hide()">&times;</button>
              <h4 class="modal-title"><img src="/bag.png" class="userlogo" /></h4>
            </div>
            <div class="modal-body text-center">
              <b> تعديل مخازن أصناف</b>
              <div class="form-group text-right">
                <label for="StoreName"> اسم المخزن </label>
                <input id="StoreName" name="StoreName" class="form-control" type="text" [(ngModel)]="store.StoreName"
                #StoreName='ngModel' required="required" minlength="10" >
              </div>
              <div *ngIf="StoreName.invalid && (StoreName.dirty || StoreName.touched)" class="alert alert-danger">
  
                <p *ngIf="StoreName?.errors.required">
                  <i class="fa fa-bug"></i> الحقل مطلوب
                </p>
                <p *ngIf="StoreName?.errors.minlength">
                  <i class="fa fa-bug"></i> اسم المخزن بين 10-50 حرف
                </p>
              </div>
  
            </div>
            <div class="modal-footer ">
  
              <button type="button" class="btn  pull-left" [disabled]="EditStoreForm.invalid" (click)="EditStore(store , EditStoreForm)" >حفظ</button>
            </div>
          </form>
        </div>
  
      </ng-template>
      
      <ng-template #templatedelete>

          <!-- Modal content-->
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" (click)="modalRef.hide()">&times;</button>
                  <h4 class="modal-title"><img src="/bag.png" class="userlogo" /></h4>
              </div>
              <div class="modal-body">
                  <p> هل تريد حذف هذا المستخدم بالفعل ؟</p>
              </div>
              <div class="modal-footer ">
                  <button type="button" class="btn  pull-right" (click)="DeleteStore(store)"> نعم</button>

                  <button type="button" class="btn  pull-left" (click)="modalRef.hide()">لا</button>
              </div>
          </div>




</ng-template>
<ng-template #template>

    <!-- Modal content-->
    <div class="modal-content">
      <form #AddStoreForm ="ngForm">
        <div class="modal-header">
          <button type="button" class="close" (click)="modalRef.hide()">&times;</button>
          <h4 class="modal-title"><img src="/bag.png" class="userlogo" /></h4>
        </div>
        <div class="modal-body text-center">
          <b> إضافه مخازن أصناف</b>
          <div class="form-group text-right">
            <label for="StoreName"> اسم المخزن </label>
            <input id="StoreName" name="StoreName" class="form-control" type="text" [(ngModel)]="store.StoreName"
            #StoreName='ngModel' required="required" minlength="10" >
          </div>
          <div *ngIf="StoreName.invalid && (StoreName.dirty || StoreName.touched)" class="alert alert-danger">

            <p *ngIf="StoreName?.errors.required">
              <i class="fa fa-bug"></i> الحقل مطلوب
            </p>
            <p *ngIf="StoreName?.errors.minlength">
              <i class="fa fa-bug"></i> اسم المخزن بين 10-50 حرف
            </p>
          </div>

        </div>
        <div class="modal-footer ">

          <button type="button" class="btn  pull-left" [disabled]="AddStoreForm.invalid" (click)="AddStore(store,AddStoreForm)">حفظ</button>
        </div>
      </form>
    </div>

  </ng-template>

  </div>
</section>
