
    <section class="page-title">
        <div class="container">
            <ol class="breadcrumb">

                <li>
                    <a [routerLink]="[ '/root' ]" routerLinkActive="active">الرئيسيه</a>

                  </li>
                  <li>
                      <a [routerLink]="[ '/stores' ]" routerLinkActive="active">مخازن</a>

                  </li>
                <li>
                    <a [routerLink]="[ '/kindquantity' ]" routerLinkActive="active">تسويه كميات الأصناف</a>

                </li>
                <li class="active">   فواتير تسويه كميات  سابقه</li>
            </ol>
        </div>
    </section>




    <section class="search-sec">
      <div class="container">
          <div class="row">

      <div class="col-md-6">


        <label> في الفتره من</label>
        <div class="input-group">
            <input class="form-control" style="float:none" placeholder="Select a date" ngx-mydatepicker name="DateFrom"
                   [options]="myOptions" #dp="ngx-mydatepicker" [(ngModel)]="DateFromObject" (ngModelChange)="GetDateFrom($event)"/>

            <span class="input-group-btn">
                <button type="button" class="btn " (click)="dp.toggleCalendar()" style="height: 40px;">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
            </span>
        </div>
        <label> إلي الفتره</label>
        <div class="input-group">

            <input class="form-control" style="float:none" placeholder="Select a date" ngx-mydatepicker name="DateTo"
                  [options]="myOptions" #dpo="ngx-mydatepicker" [(ngModel)]="DateToObject" (ngModelChange)="GetDateTo($event)"/>
                   <span class="input-group-btn">
                   <button type="button" class="btn " (click)="dpo.toggleCalendar()" style="height: 40px;">
                      <i class="glyphicon glyphicon-calendar"></i>
                  </button>

                </span>

        </div>



      </div>

      <div class="col-md-6">


        <label> من المخزن </label>
        <select class="form-control" [(ngModel)]="StoreName">
          <option *ngFor="let item of ListStores" [value]="item.StoreName">{{item.StoreName}}</option>

        </select>
        <label> اسم المستخدم</label>
        <input name="UserName" class="form-control" type="text" [(ngModel)]="UserName">


      </div>
    </div>
      </div>

  </section>






  <section class="body-content">
    <div class="container">
      <br>
      <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-4">
                    <h5 class="text-right">
                        فواتير تسويه كميات سابقه
                      </h5>
                </div>
                <div class="col-md-6"></div>
                <div class="col-md-2 text-left">
                    <a>
            
                        <button (click)="Refresh()" class="btn btn-link">
                          <!-- <img src="/poweroff1.png" alt="signout" class="usersmalllogo"> -->
                       <i class="fas fa-2x fa-refresh">&nbsp;</i>            
                        </button>
                      </a>
                </div>
            </div>
         
        </div>
        <div class="panel-body">

          <div>
            <table class="table text-center table-bordered table-responsive">
              <thead>
                <tr>
                  <th>التسلسل</th>
                  <th>المخزن</th>
                  <th> تاريخ الفاتوره </th>
                  <th> المستخدم </th>
                  <th>اختر</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of ListInvoices| searchproductkindquntityusername: UserName
                |searchproductkindquntitystorename:StoreName
                |searchproductkindquantityfromtodate:DateFrom:DateTo
                | paginate: { itemsPerPage: 10, currentPage: p }
                ; let i=index; " [ngClass]="{'selectedrow':RowSelected(item)}" >
                  <td>{{i+1}}</td>
                  <td>{{item.StoreName}}</td>
                  <td>{{item.DateSubmit| date}}</td>
                  <td>{{item.UserName}}</td>
                  <td>
                      <div class="checkbox " style="margin-right:25px;">
                        <ng-container *ngIf="!RowSelected(item); else RemoveSelect">
                          <a class="label label-primary" (click)="SelectRow(item)">
                            <i class="fa fa-check"></i> تحـديـد
    
                          </a>
                        </ng-container>
                        <ng-template #RemoveSelect>
                          <a class="label label-primary" (click)="RemoveSelection(item)">
                            <i class="fa fa-remove"></i> الـــغـــاء
    
                          </a>
                        </ng-template>
    
                      </div>
                    </td>
    
                </tr>
                <tr><td colspan="6" class="text text-center alert alert-danger"  *ngIf="(ListInvoices).length === 0" ><h4>نأسف لم يتم العثور على اى نتائج</h4></td></tr>
    
                <tr>
                    <td colspan="6" class="text text-center">
                      <pagination-controls (pageChange)="p = $event" maxSize="10" directionLinks="true" autoHide="false"
                        responsive="true" previousLabel="السابق" nextLabel="التالى" screenReaderPaginationLabel="Pagination"
                        screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
                      </pagination-controls>
                    </td>
                  </tr>
       
    
              </tbody>
            </table>
          </div>
        </div>
        <div class="panel-footer">
 
          <div class="btntricks">
            <button type="button" class="btn btn-style" (click)="goshowInvoice()">
              <i class="fa fa-eye"></i> عرض الفاتوره </button>
            </div>
        </div>

      </div>
 
      <br>



    </div>
  </section>
